<!DOCTYPE HTML>

<html>
	<head>
		<title>Details of The PanCard Holder</title>
    <style>
	  p, span {
        margin: 0 auto;
		margin-top: 50px;
		font-size: 35px;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      span {
        font-size: 50px;
      }
	  body {
    background: powderblue;
    color: black;
	}	
    </style>
	</head>
	<body>
		<p> <span> {{ answer }} </span> </p>
		
		
		

	</body>
</html>