<!DOCTYPE HTML>

<html>
	<head>
		<title>Pan Verification</title>
    <style>
	  p, form {
        margin: 0 auto;
        max-width: 400px;
		margin-top: 50px;
		font-size: 28px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      input,select {
        font-size: 28px;
        margin-top: 20px;
      }
	  body {
    background: powderblue;
    color: black;
	}	
	button
	{
		
	}
    </style>
	</head>
	<body>
		<h1>
			<center>
				 Pan Card Vertification Page 
			</center> 
		</h1> 
		<form action="/calculator" method='POST'>
		<table>
			<tr>
				<td>
					<label for = "input1">PanCard Number:</label>
				</td>
				<td>
					<input type = "text" name = "input1">
				</td>
			</tr>
				<td>
					<input type="submit" value="Find Details ">
					
				</td>
			</tr>
		</table>
			
		</form>
	</body>
</html>